.item-time {
    background-color: var(--tint-yellow-3);
    font-weight: bold;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.item-week-day {
    background-color: var(--tint-yellow-3);
    font-weight: bold;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.item-time, .item-time-future, .item-green, .item-time-current, .item-red, .item-time-passed {
    height: 4em;
}

.item-time-future, .item-green, .item-time-current, .item-red, .item-time-passed {
    border-radius: 5px;
}

.item-green {
    background-color: var(--tint-yellow-3);
    /*background-color: var(--light-green);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.item-red {
    /*background-color: var(--light-red);*/
    background-color: var(--tint-yellow-2);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}



/* Passed Time */
.item-time-passed {
    background-color: var(--tint-dark-grey-7);
}

.item-text-passed-h3, .item-text-passed-p {
    color: var(--tint-dark-grey-4);
    margin: 4px 0;
}

.item-text-passed-h3, .item-text-current-h3 {
    font-size: 1em !important;
}

.item-text-passed-p, .item-text-current-p {
    font-size: 0.875em !important;
}

/* Current Time */
.item-time-current {
    background-color: var(--light-brilliant-orange);
    color: var(--tint-dark-grey-1);
}

.item-text-current-h3, .item-text-current-p {
    color: var(--dark-grey);
    margin: 4px 0;
    font-weight: 700;
}

/* Future Time */
.item-time-future {
    background-color: var(--tint-yellow-6);
    color: var(--tint-dark-grey-1);
}
