[Service]
Type=simple
Execstart=/home/backend/BookIt/App/app.py

[Unit]
Description=Executes app.py on 30 seconds after boot

[Install]
WantedBy=multi-user.target
