:root {
    --main-bg-color: #B9BBBF;
    --light-brilliant-orange: #F7B045;
    --dark-grey: #4F4F53;
    --light-grey: #CDCFD2;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans Regular', Arial, serif;
    background-color: var(--main-bg-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    margin-top: 100px;
    margin-bottom: 120px;
}

@font-face {
    font-family: 'Oleo Script';
    src: local('Oleo Script'), url('./utils/global/fonts/OleoScript/OleoScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alegreya Sans Regular';
    src: local('Alegreya Sans Regular'), url('./utils/global/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alegreya Sans Bold';
    src: local('Alegreya Sans Bold'), url('./utils/global/fonts/AlegreyaSans/AlegreyaSans-Bold.ttf') format('truetype');
}

h1 {
    font-family: 'Oleo Script', Arial, serif;
    font-size: 28px;
    color: var(--light-brilliant-orange);
}

h2 {
    font-family: 'Oleo Script', Arial, serif;
    font-size: 20px;
    color: var(--light-brilliant-orange);
}

h3 {
    /*font-family: 'Alegreya Sans Regular', Arial, serif;*/
    font-size: 15px;
    color: var(--dark-grey);
}

.primary_text {
    /*font-family: 'Alegreya Sans Regular', Arial, serif;*/
    font-size: 15px;
    color: var(--dark-grey);
}

.secondary_text {
    /*font-family: 'Alegreya Sans Regular', Arial, serif;*/
    font-size: 13px;
    color: var(--dark-grey);
}

.control_labels {
    /*font-family: 'Alegreya Sans Regular', Arial, serif;*/
    font-size: 11px;
    color: var(--light-grey);
}

.primary_button {
    /*margin: 15px;*/
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--light-brilliant-orange);
    color: #F8F8F8;
    font-family: 'Alegreya Sans Bold', serif;
}
