.general-button-style {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-family: 'Alegreya Sans Bold', serif;
    text-transform: uppercase;
    cursor: pointer;
}

.button_primary {
    background-color: var(--light-brilliant-orange);
    color: var(--tint-dark-grey-1);
    border: 2px solid var(--light-brilliant-orange);
}

.button_primary:hover {
    background-color: var(--tint-dark-grey-1);
    color: var(--light-brilliant-orange);
}

.button_dark_grey {
    background-color: var(--dark-grey);
    color: var(--tint-dark-grey-1);;
    border: 2px solid var(--dark-grey);
}

.button_dark_grey:hover {
    background-color: var(--tint-dark-grey-1);
    color: var(--dark-grey)
}

.button_light_grey {
    background-color: var(--main-bg-color);
    color: var(--tint-dark-grey-1);
    border: 2px solid var(--main-bg-color);
}

.button_light_grey:hover {
    background-color: var(--tint-dark-grey-1);
    color: var(--main-bg-color);
}
