footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4F4F53;
    z-index: 1;
}

.grid-footer {
    display: grid;
    grid-template-columns: auto 10em auto;
}

.grid-footer-inner {
    display: grid;
    grid-template-columns: 2em 6em 2em;
}
